<footer style="max-width:100%; overflow:hidden">
  <div class="row footer d-flex justify-content-center mt-5">
    <div class="coloumn col-lg-2 col-md-12 col-sm-12 p-4 text-center">
      <img src="/assets/images/logo.png" class="f-logo mb-3 w-50">
      <p style="color:#999999;font-size: small;">
       Our company offers short-term rentals for personal use and long-term leases for commercial purposes, allowing our customers to choose the perfect vehicle to suit their needs. 
      </p>
    </div>
    <div class="coloumn col-lg-2 col-md-4 col-sm-2 py-5 text-center">
       
      <h3 class="title p-0 pb-2">Cars</h3>
      <ul>
        <li><a href="#">Class</a></li>
        <li><a href="#">Sport</a></li>
        <li><a href="#">Pick-ups</a></li>
        <li><a href="#">4-Wheel</a></li>  
        <li><a href="#">Rally</a></li>
      </ul>      
      </div>
      
      <div class="coloumn col-lg-2 col-md-4 col-sm-2 py-5 text-center">
      <h3 class="title p-0 pb-2"> Services</h3>
        <ul>
          <li><a href="#">oil change</a></li>
          <li><a href="#">tire rotation</a></li>
          <li><a href="#">engine tune up</a></li>
          <li><a href="#">brake inspection</a></li>
          <li><a href="#">windshield replacement</a></li>

        
        </ul> 
    </div>

    <div class="coloumn col-lg-2 col-md-4 col-sm-2 py-5 text-center">
      <h3 class="title p-0 pb-2">Lend</h3>
        <ul>
          <li><a href="pricing.html">Location</a></li>
          <li><a href="about.html">About us</a></li>
          <li><a href="contact.html">Contact us</a></li>

        </ul> 
    </div>
    
    <div class="coloumn col-lg-2 col-md-12 col-sm-12 py-5 text-center">
      <div class="contact-info text-white mx-auto" style="height: 135px; background: linear-gradient(180deg, #3F3F3F 0%, #000000 100%);border-radius: 80px 0px;">
        <span class="d-flex justify-content-center pt-4">+961 70 123 456</span>
        <span class="d-flex justify-content-center" style="color: var(--yellow);">Lend@gmail.com</span>
      </div>       
    </div>

  </div>
  <div class=" copy-right" style="background: #F5F5F5;">
    <div class="container d-flex bd-highlight">
      <div class="p-2 flex-grow-1 bd-highlight"> &copy; 2022 Lend. All Rights Reserved. </div>
      <div class="p-2 bd-highlight">Privacy Policy</div>
      <div class="p-2 bd-highlight">Terms of Use</div>
    </div>
  </div>
</footer>


