
<div class="container-fluid py-5"data-aos="flip-left"
data-aos-easing="ease-out-cubic"
data-aos-duration="2000">
    <div class="container py-5" >
        <div class="bg-banner py-5 px-4 text-center" style="box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        height: auto;">
            <div class="py-5" data-aos="flip-down" data-aos-delay="300">
                <h1 class="display-1 text-uppercase  mb-4 text-primary">50% OFF</h1>
                <h1 class="text-uppercase text-light mb-4">Special Offer For New Members</h1>
                <p class="mb-4 text-primary">Only for Sunday from 1st Jan to 30th Jan 2045</p>
                <a class="btn btn-primary mt-2 py-3 px-5" href="">Register Now</a>
            </div>
        </div>
    </div>
</div>


