<!-- About Start -->
<div class="container-fluid py-5"  data-aos="fade-up" data-aos-anchor-placement="top-center" >
    <div class="container pt-5 pb-3">
        <h1 class="display-1 text-primary text-center">01</h1>
        <h1 class="display-4 text-uppercase text-center mb-5 text-black">Welcome To <span class="text-primary">Lend Cars</span></h1>
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <img class="w-75 mb-4"  data-aos="zoom-in-down" src="/assets/images/about.png" alt="">
                <p class="text-black">Our company has been a trusted provider of car rental and car lending services for over a decade. In addition to our own fleet of rental vehicles, we also offer a platform for private car owners to list their vehicles for rent. This allows us to offer a diverse range of rental options to meet the specific needs of our customers. Our dedication to delivering exceptional customer service and high-quality vehicles has made us a leader in the industry. We pride ourselves on offering competitive rates and a seamless rental process for our valued customers. Thank you for choosing us as your trusted car rental and lending partner</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 mb-2" data-aos="fade-up">
                <div class="d-flex align-items-center bg-light p-4 mb-4" style="box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
                height: auto;">
                    <div data-aos="zoom-in" data-aos-delay="300" class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px; border-radius: 20px;">
                        <i class="fa fa-2x fa-headset "></i>
                    </div>
                    <h4 class="text-uppercase m-2">24/7 Car Rental Support</h4>
                </div>
            </div>
            <div class="col-lg-4 mb-2" data-aos="fade-up" data-aos-delay="100">
                <div class="d-flex align-items-center bg-black p-4 mb-4" style="box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
                height: auto;">
                    <div  data-aos="zoom-in" data-aos-delay="300" class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;  border-radius: 20px;">
                        <i class="fa fa-2x fa-car"></i>
                    </div>
                    <h4 class="text-light text-uppercase m-2">Car Reservation Anytime</h4>
                </div>
            </div>
            <div class="col-lg-4 mb-2" data-aos="fade-up" data-aos-delay="200">
                <div class="d-flex align-items-center bg-light p-4 mb-4" style="box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
                height: auto;">
                    <div  data-aos="zoom-in" data-aos-delay="300" class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;  border-radius: 20px;">
                        <i class="fa fa-2x fa-map-marker-alt "></i>
                    </div>
                    <h4 class="text-uppercase m-2">Lots Of Pickup Locations</h4>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- About End -->
