<div class="container-fluid py-5" data-aos="fade-right">
    <div class="container py-5">
        <div class="row mx-0" style="box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        height: auto;">
            <div class="col-lg-6 px-0">
                <div class="bg-black d-flex align-items-center justify-content-between rounded-start" style="height: 350px;">
                    <img class="img-fluid flex-shrink-0 ml-n5 w-50 mr-4"  src="/assets/img/banner-left.png" alt="">
                    <div class="text-right">
                        <h3 class="text-uppercase text-white m-3">Want to be Driver?</h3>
                        <p class="m-4 text-secondary">Remt a car and save money on costly rentals - it's a no-brainer!</p>
                        <a (click)="scrollTo(3700)" data-aos="fade-right" class="btn btn-primary py-2 px-4 m-3" >Start Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 px-0">
                <div class=" bg-light d-flex align-items-center justify-content-between rounded-end" style="height: 350px;">
                    <div class="text-left">
                        <h3 class="text-uppercase text-black m-3">Want to be Lender?</h3>
                        <p class="m-4 text-secondary">Lend your car and earn extra cash - it's a win-win!</p>
                        <button (click)="scrollTo(4580)"  data-aos="fade-right" class="btn btn-primary py-2 px-4 m-3" >Start Now</button>
                    </div>
                    <img class="img-fluid flex-shrink-0 mr-n5 w-50 ml-4"  src="/assets/img/banner-right.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>