<div>
    <form action="">
        <div class="input-group">
            <input value="" type="text"  [(ngModel)]="enteredSearchValue" [ngModelOptions]="{standalone: true}"(input)="onSearchTextChanged()" class="form-control" placeholder="Search for Cars">
            <div class="input-group-append">
                <span class="input-group-text bg-transparent text-primary">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
    </form>
</div>